<div [ngStyle]='{ width : footerWidth }' class="footer-bar">
    <h2 class="foot-head">About this page</h2>
    <p class="foot-abt">This site is created with Angular and deployed in GitHub pages of Aishwarya's account.</p>
    <p class="foot-abt">Copyright <mat-icon class="foot-icon">copyright</mat-icon> Aishwarya Mala GM 2023</p>
    <div class="footButtons">
        <div>
            <a class="foot-link1" [href]="footLinkedInLink" target="_blank" rel="noreferrer noopener"
                #tooltip="matTooltip" matTooltip="Click to go to my LinkedIn profile: {{footLinkedInLink}}">
                LinkedIn</a>

            <a class="foot-link" [href]="footGitHubLink" target="_blank" rel="noreferrer noopener" #tooltip="matTooltip"
                matTooltip="Click to go to my GitHub profile: {{footGitHubLink}}">GitHub</a>

            <a class="foot-link" href="assets/doc/Aishwarya_Resume.pdf" target="_blank" rel="noreferrer noopener"
                #tooltip="matTooltip" matTooltip="Click to open Resume">Resume</a>

            <a class="foot-link" [href]="footEmailLink" target="_top" rel="noreferrer noopener" #tooltip="matTooltip"
                matTooltip="Click to send email to {{footEmailAddress}}">Email</a>

            <a class="foot-link" [href]="footPhoneLink" target="_top" rel="noreferrer noopener" #tooltip="matTooltip"
                matTooltip="Click to call {{footPhoneNumber}}">Mobile</a>

            <button class="foot-scroll foot-scroll-but" (click)="navClickToScroll('homeId')">Scroll to Top</button>
        </div>
    </div>
</div>