<div fxFlex="36%" fxFlex.xs="100%" fxFlex.sm="70%" fxFlex.md="65%" fxFlex.lg="35%" >
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <div class="home-card-text-right">
          <span class="home-hello">Hello!</span>
          <span class="home-hello2">I am Aishwarya</span><span class="home-role">Machine Learning Engineer</span>
          <p class="home-intro">I am a keen-to-learn machine learning engineer with a masters in Electrical
            Engineering,
            specialising in Computer
            Vision and Biometrics. My interest in machine learning and image processing started during my
            undergraduate
            studies at Amrita School of Engineering, India and following it pursued and completed my masters at the
            University
            of Twente, Netherlands. I am a detail-oriented perfectionist dedicated to producing flawless results on
            time.
            I am
            also focused and committed professional who has worked for Tata Consultancy Services for 3+ years in
            association
            with various tech giants, including Apple, as customers. In addition to that, I have also got to
            experience
            the
            Dutch work and research culture during my masters program.</p>
          <p class="home-intro">My specialities are :</p>
          <ul class="home-list">
            <li>Machine Learning</li>
            <li>Computer Vision</li>
            <li>Medical Image Analysis</li>
            <li>Natural Language Processing</li>
            <li>Time Series Analysis</li>
          </ul>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button> LindedIn </button>
        <button mat-button> Git </button>
      </mat-card-actions>
    </mat-card>
  </div>