<div id="aboutId" class="aboutSection">
  <div fxLayout="row wrap" fxFlex="70%" fxFlex.xs="100%" fxFlex.sm="90%" fxFlex.md="80%">
    <mat-card class="mat-elevation-z4">
      <h1 class="aboutTitle">Who is Aishwarya?</h1>
      <mat-card-content>
        <div>
          <p class="home-intro">I am a keen-to-learn machine learning engineer with a masters in Electrical
            Engineering,
            specialising in Computer
            Vision and Biometrics. My interest in machine learning and image processing started during my
            undergraduation
            at Amrita School of Engineering, India and following it I pursued and completed my masters at the
            University
            of Twente, Netherlands. I am a detail-oriented perfectionist dedicated to producing flawless results on
            time.
            I am
            also a focused and committed professional who has worked for Tata Consultancy Services for 3+ years in
            association
            with various tech giants, including Apple, as customers. In addition to that, I have
            experienced
            the
            Dutch work and research culture during my masters program.</p>
          <p class="home-intro">My specialities are :</p>
          <ul class="home-list">
            <li>Machine Learning</li>
            <li>Computer Vision</li>
            <li>Medical Image Analysis</li>
            <li>Natural Language Processing</li>
            <li>Time Series Analysis</li>
          </ul>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="aboutButtons">
          <p fxLayout="row wrap" fxLayoutGap="25px grid">
            <a [href]="linkedInLink" target="_blank" rel="noreferrer noopener" #tooltip="matTooltip"
              matTooltip="Click to go to my LinkedIn profile: {{linkedInLink}}"> <img class="linkedIn-img"
                src="assets/img/linkedIn.png" alt="LinkedIn Icon"> </a>

            <a [href]="gitHubLink" target="_blank" rel="noreferrer noopener" #tooltip="matTooltip"
              matTooltip="Click to go to my GitHub profile: {{gitHubLink}}"> <img class="github-img"
                src="assets/img/GitImg.png" alt="GitHub Icon"> </a>

            <a [href]="emailLink" target="_top" rel="noreferrer noopener" #tooltip="matTooltip"
              matTooltip="Click to send email to {{emailAddress}}"> <mat-icon class="emailIcon">
                email</mat-icon> </a>

            <a [href]="phoneLink" target="_top" rel="noreferrer noopener" #tooltip="matTooltip"
              matTooltip="Click to call {{phoneNumber}}"> <mat-icon class="phoneIcon">
                phone</mat-icon> </a>

            <a href="assets/doc/Aishwarya_Resume.pdf" target="_blank" rel="noreferrer noopener" #tooltip="matTooltip"
              matTooltip="Click to open Resume"> <img class="resume-img" src="assets/img/resume-icon.PNG" alt="Resume Icon">
            </a>
          </p>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>