<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon class="side-menu-icons">home</mat-icon><span class="nav-caption">Home</span> 
    </a>
    <a mat-list-item routerLink="/about" (click)="onSidenavClose()">
        <mat-icon class="side-menu-icons">person</mat-icon> <span class="nav-caption">About</span>   
    </a>
    <a mat-list-item routerLink="/skills" (click)="onSidenavClose()">
        <mat-icon class="side-menu-icons">create</mat-icon> <span class="nav-caption">Skills and Tools</span>   
    </a>
    <a mat-list-item routerLink="/experience" (click)="onSidenavClose()">
        <mat-icon class="side-menu-icons">work</mat-icon> <span class="nav-caption">Experience</span>   
    </a>
    <a mat-list-item routerLink="/projects" (click)="onSidenavClose()">
        <mat-icon class="side-menu-icons">library_books</mat-icon><span class="nav-caption">Projects</span>
    </a>
    <a mat-list-item routerLink="/certifications" (click)="onSidenavClose()">
        <mat-icon class="side-menu-icons">image</mat-icon><span class="nav-caption">Certifications</span>
    </a>
    <a mat-list-item routerLink="/timeline" (click)="onSidenavClose()">
        <mat-icon class="side-menu-icons">access_time</mat-icon><span class="nav-caption">Timeline</span>
    </a>
</mat-nav-list>