<div id="experienceId" class="experienceSection">
    <div fxLayout="row wrap" fxFlex="70%" fxFlex.xs="100%" fxFlex.sm="90%" fxFlex.md="80%">
        <mat-card class="mat-elevation-z4">
            <h1 class="experienceTitle">Experience</h1>
            <mat-card-content class="experience-card">
                <div fxLayout="row wrap" class="experience-card-content mat-elevation-z8">
                    <div class="experience-intro-left" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%" fxFlexmd="50%">
                        <p><b>Role:</b> Machine Learning (ML) Engineer</p>
                        <p><b>Organization:</b> Tata Consultancy Services (TCS)</p>
                    </div>
                    <div class="experience-intro-right" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%" fxFlexmd="50%">
                        <p><b>Location:</b> Bengaluru, India</p>
                        <p><b>Period:</b> 02/2022-01/2023 & 06/2017-07/2019</p>
                    </div>
                    <div class="experience-points" fxFlex="100%">
                        <p><mat-icon class="exp-icon">arrow_forward_ios</mat-icon>Our team worked on designing, developing, and deploying
                            Python based (CI/CD) machine learning
                            pipelines for Natural language processing (NLP) and Time series analysis.Improvised and
                            tested
                            time series anomaly detection pipelines based on Xgboost and DeepAR models.</p>
                        <p><mat-icon class="exp-icon">arrow_forward_ios</mat-icon>Improved the performance of our customer's internal
                            query channel
                            (Rasa) chatbots by
                            integrating a Haystack based closed domain Q&A component into it.</p>
                        <p><mat-icon class="exp-icon">arrow_forward_ios</mat-icon>Converted the LLMs used for embedding in all our NLP
                            pipelines to ONNX format to decrease
                            runtime and model size.</p>
                        <p><mat-icon class="exp-icon">arrow_forward_ios</mat-icon>Contributed to the development of an NLP based pipeline
                            that
                            identifies the emerging trends in
                            our customer’s incoming tickets dataset to identify the issues with rising recurrences in
                            order
                            to analyse and resolve them at early stages.</p>
                        <p><mat-icon class="exp-icon">arrow_forward_ios</mat-icon>Analysed and improved the time series forecasting and
                            anomaly detection ML pipelines based on
                            Xgboost and DeepAR models.</p>
                    </div>
                </div>

                <div fxLayout="row wrap" class="experience-card-content mat-elevation-z8">
                    <div class="experience-intro-left" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%" fxFlexmd="50%">
                        <p><b>Role:</b> Deep Learning Intern</p>
                        <p><b>Organization:</b> Thirona</p>
                    </div>
                    <div class="experience-intro-right" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%" fxFlexmd="50%">
                        <p><b>Location:</b> Nijmegen, Netherlands</p>
                        <p><b>Period:</b> 08/2021 - 11/2021</p>
                    </div>
                    <div class="experience-points" fxFlex="100%">
                        <p><mat-icon class="exp-icon">arrow_forward_ios</mat-icon>Successfully developed a Keras-based deep learning
                            model that can segment out the retinal
                            vasculature from the fundus image of the eye.</p>
                        <p><mat-icon class="exp-icon">arrow_forward_ios</mat-icon>Leveraged transfer learning to build a classification
                            model on top of the segmentation model
                            to categorize the segmented blood vessel pixels into arteries and veins.</p>
                    </div>
                </div>

                <div fxLayout="row wrap" class="experience-card-content mat-elevation-z8">
                    <div class="experience-intro-left" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%" fxFlexmd="50%">
                        <p><b>Role:</b> Teaching Assistant</p>
                        <p><b>Organization:</b> University of Twente</p>
                    </div>
                    <div class="experience-intro-right" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%" fxFlexmd="50%">
                        <p><b>Location:</b> Enschede, Netherlands</p>
                        <p><b>Period:</b> 09/2020 - 11/2020</p>
                    </div>
                    <div class="experience-points" fxFlex="100%">
                        <p><mat-icon class="exp-icon">arrow_forward_ios</mat-icon>Teaching Assistant for
                            <a href="https://osiris.utwente.nl/student/OnderwijsCatalogusSelect.do?selectie=cursus&cursus=201600070&collegejaar=2018&taal=en"
                                target="_blank" rel="noreferrer noopener" #tooltip="matTooltip"
                                matTooltip="Click to see the course details" class="project-link"> Basic Machine
                                Learning</a>
                            course.
                        </p>
                        <p><mat-icon class="exp-icon">arrow_forward_ios</mat-icon>Coordinated lab sessions for students, graded, and
                            provided feedback on all student
                            assignments and exams, and helped students understand the course material better.</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>