<div id="projectsId" class="projectsSection">
    <mat-card class="mat-elevation-z4" fxFlex="70%" fxFlex.xs="100%" fxFlex.sm="90%" fxFlex.md="90%">
        <h1 class="projectsTitle">Projects</h1>
        <mat-card-content>
            <div class="projectsDiv" fxLayout="row wrap" fxLayoutGap="10px grid">
                <div class="project-loop-div" *ngFor="let project of projectList">
                    <div class="project mat-elevation-z8" fxLayout="row wrap" fxLayoutGap="10px grid">
                        <h2 class="project-title"><b><u>{{project.title}}</u></b></h2>
                        <img fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="90%" fxFlex.md="50%"
                            class="proj-img-float mat-elevation-z12" src="{{ project.imgUrl }}"
                            alt="{{ project.title }}">
                        <div class="proj-text-right-div mat-elevation-z12" fxFlex="66%" fxFlex.xs="100%" fxFlex.sm="90%"
                            fxFlex.md="70%">
                            <div class="proj-skills-div">
                                <span class="project-skill-title"><b>Skills Used:</b></span>
                                <div class="project-skill-list" *ngFor="let skill of project.skills">
                                    <button class="project-skill">{{skill}}</button>
                                </div>
                            </div>
                            <div class="project-desc">{{project.desc}}
                                <a *ngIf="project.show"
                                    href="https://lodopab.grand-challenge.org/evaluation/challenge/leaderboard/"
                                    target="_blank" rel="noreferrer noopener" #tooltip="matTooltip"
                                    matTooltip="Click to open" class="project-link">LoDoPaB CT Challenge.</a>
                            </div>
                            <div class="proj-img-div" *ngIf="project.gitImgShow">

                                <a [href]="project.gitLink" target="_blank" rel="noreferrer noopener"
                                    #tooltip="matTooltip" matTooltip="Click to view the project repository"> <img
                                        class="proj-git-img" src="assets/proj-git.png" alt="GitHub Icon"> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>