<mat-toolbar [ngStyle]='{ width : headerWidth }' class="header-bar">
    <div fxHide.gt-md>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon class="side-menu-ham">menu</mat-icon>
        </button>
    </div>
    <div>
        <a class="header-name" routerLink="/home">Aishwarya</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="start" fxHide.md fxHide.sm fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/about">About</a>
            </li>
            <li>
                <a routerLink="/skills">Skills</a>
            </li>
            <li>
                <a routerLink="/experience">Experience</a>
            </li>
            <li>
                <a routerLink="/projects">Projects</a>
            </li>
            <li>
                <a routerLink="/certifications">Certifications and Papers</a>
            </li>
            <li>
                <a routerLink="/timeline">Timeline</a>
            </li>
        </ul>
    </div>
  </mat-toolbar>

 