.skillsSection {
    margin-top: 5px auto;
    padding-top: 100px;
    padding-bottom: 25px;
    align-items: center;
    justify-content: center;
}

.skillsTitle {
    margin: 10px auto;
    text-align: center;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0c3b66;
    color: white;
    padding: 15px 0px;
    border-radius: 20px;
    line-height: 1.3;
    width: 100%;
}

.skillsIntro {
    margin: 5px auto;
    padding-bottom: 25px;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.skillSetDiv {
    margin: 5px auto;
    padding-bottom: 25px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.skillSet-title {
    font-size: large;
}

.skillSet {
    list-style-type: none;
}

.skill-odd, .skill-even {
    font-size: medium;
    margin: 0;
    line-height: 1.3;
}

.skill-even:before, .skill-odd:before {
    content: 'arrow_right';
    font-family: 'Material Icons';
    font-size: 30px;
    vertical-align: middle;
}

.skill-odd:hover, .skill-even:hover{
    background-color: #826ba8;
    color: white;
}

.skill-ml{
    height: 40px;
    width: 40px;
    padding: 10px;
}

.skill-cv{
    height: 30px;
    width: 30px;
    padding: 10px;
}

.skill-nlp{
    height: 40px;
    width: 40px;
    padding: 10px;
}

.skill-tsa{
    height: 40px;
    width: 40px;
    padding: 10px;
}

.skill-prog{
    height: 40px;
    width: 40px;
    padding: 10px;
}

.skill-tools{
    height: 40px;
    width: 40px;
    padding: 10px;
}