<app-layout>
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <main>
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <app-home></app-home>
        <app-about></app-about>
        <app-skills></app-skills>
        <app-timeline></app-timeline>
        <app-projects></app-projects>
        <app-certifications></app-certifications>
        <app-experience></app-experience>
        <app-footer></app-footer>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>