<div class="home-div">
  <div fxLayout="row wrap" fxLayoutGap="10px grid" fxLayoutAlign="center center">
    <div fxFlex.gt-lg="25%" fxFlex.md="50%">
      <mat-card class="home-card-img mat-elevation-z4">
        <img class="home-img" mat-card-image src="assets/pic.jpg" alt="Photo of Aishwarya">
      </mat-card>
    </div>
    <div fxFlex.gt-lg="40%" fxFlex.md="50%">
      <mat-card class="home-card-text mat-elevation-z4">
        <div class="home-card-text-right">
          <p class="home-hello">Hello!</p>
          <p class="home-hello2">I am Aishwarya</p>
          <p class="home-role"><i>Machine Learning Engineer</i></p>
          <p class="home-text">Welcome to my portfolio. Click here to explore more.</p>
        </div>
      </mat-card>
    </div>
  </div>
</div>