.home-div {
    margin-top: 30px auto;
    padding: 16px;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
}

.home-card-img {
    background-color: black;
    margin-top: 10px;
}

.home-card-text {
    margin: 5%;
    padding: 5%;
    background-color: #fdf6f5;
}

.home-img {
    height: 100%;
    width: 100%;
}

.home-hello {
    margin: 10px;
    padding: 10px;
    font-size: xxx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home-hello2 {
    margin: 10px 10px 3px 10px;
    padding: 10px 10px 3px 10px;
    font-size: xx-large;
    font-family: cursive;
    line-height: 1;
}

.home-role {
    margin: 3px 10px 10px 12px;
    padding: 3px 10px 10px 10px;
    font-size: medium;
}

.home-text {
    margin: 3px 10px 10px 12px;
    padding: 3px 10px 10px 10px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.homeClickHere{
    cursor: pointer;
    color:blue;
    text-decoration: underline;
}